*/bin/
*/obj/
*/packages/*
*.suo
*.user
App_Data/
*Web.config
*Thumbs.db
packages/*
.vs/
.DS_Store
*/dist/

**/*.pubxml
.vscode
*.userprefs
querytree.key
querytree.db
*/wwwroot/js/*

**/usersettings.json
