
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Privacy Policy</h2>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>1.  Introduction</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>1.1</strong></div>
        <div class="col-xs-11"><h6>We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.	</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>2.  Collecting personal information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>2.1</strong></h5></div>
        <div class="col-xs-11"><h6>We may collect, store and use the following kinds of personal information: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths);</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (including your name and email address);</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>information that you provide to us when using the services on our website, or that is generated in the course of the use of those services (including the timing, frequency and pattern of service use);</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(d)</div>
        <div class="col-xs-10"><h6>information contained in or relating to any communications that you send to us or send through our website (including the communication content and meta data associated with the communication); and</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>2.2</strong></h5></div>
        <div class="col-xs-11"><h6>Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>3.  Using your personal information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>3.1</strong></h5></div>
        <div class="col-xs-11"><h6>Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>3.2</strong></h5></div>
        <div class="col-xs-11"><h6>We may use your personal information to:</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>enable your use of the services available on our website;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>send you email notifications that you have specifically requested;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>deal with enquiries and complaints made by or about you relating to our website;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(d)</div>
        <div class="col-xs-10"><h6>keep our website secure and prevent fraud;</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>4.  Disclosing personal information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>4.1</strong></div>
        <div class="col-xs-11"><h6>We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>4.2</strong></h5></div>
        <div class="col-xs-11"><h6>We may disclose your personal information: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>to the extent that we are required to do so by law;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>in connection with any ongoing or prospective legal proceedings;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(d)</div>
        <div class="col-xs-10"><h6>to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(e)</div>
        <div class="col-xs-10"><h6>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>4.3</strong></div>
        <div class="col-xs-11"><h6>Except as provided in this policy, we will not provide your personal information to third parties.</h6></div>

    </div>


</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>5.  Retaining personal information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>5.1</strong></div>
        <div class="col-xs-11"><h6>This Section 5 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>5.2</strong></div>
        <div class="col-xs-11"><h6>Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>5.3</strong></h5></div>
        <div class="col-xs-11"><h6>Notwithstanding the other provisions of this Section 5, we will retain documents (including electronic documents) containing personal data: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>to the extent that we are required to do so by law;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>6.	Security of your personal information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>6.1</strong></div>
        <div class="col-xs-11"><h6>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>6.2</strong></div>
        <div class="col-xs-11"><h6>We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>6.3</strong></div>
        <div class="col-xs-11"><h6>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>7.	Amendments</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>7.1</strong></div>
        <div class="col-xs-11"><h6>We may update this policy from time to time by publishing a new version on our website.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>7.2</strong></div>
        <div class="col-xs-11"><h6>You should check this page occasionally to ensure you are happy with any changes to this policy.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>8.	Your rights</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>8.1</strong></div>
        <div class="col-xs-11"><h6>You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>the supply of appropriate evidence of your identity (for this purpose, we will usually accept a copy of your passport, driver's licence, or bank statement.).</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>8.2</strong></div>
        <div class="col-xs-11"><h6>We may withhold personal information that you request to the extent permitted by law.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>8.3</strong></div>
        <div class="col-xs-11"><h6>You may instruct us at any time not to process your personal information for marketing purposes.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>8.4</strong></div>
        <div class="col-xs-11"><h6>In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>9.	Third party websites</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>9.1</strong></div>
        <div class="col-xs-11"><h6>Our website includes hyperlinks to, and details of, third party websites.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>9.2</strong></div>
        <div class="col-xs-11"><h6>We have no control over, and are not responsible for, the privacy policies and practices of third parties.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>10.	Updating information</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>10.1</strong></div>
        <div class="col-xs-11"><h6>Please let us know if the personal information that we hold about you needs to be corrected or updated.</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>11.	Cookies</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.1</strong></div>
        <div class="col-xs-11"><h6>Our website uses cookies.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.2</strong></div>
        <div class="col-xs-11"><h6>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.3</strong></div>
        <div class="col-xs-11"><h6>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.4</strong></div>
        <div class="col-xs-11"><h6>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.5</strong></div>
        <div class="col-xs-11"><h6>We use both session and persistent cookies on our website.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.6</strong></div>
        <div class="col-xs-11"><h6>The names of the cookies that we use on our website, and the purposes for which they are used, are set out below: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>we use both session and persistent cookies on our website to analyse the use of the website and target advertisements which may be of particular interest to specific users;</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.7</strong></div>
        <div class="col-xs-11"><h6>Most browsers allow you to refuse to accept cookies; for example: </h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>in Firefox (version 24) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>in Chrome (version 29), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>11.8</strong></div>
        <div class="col-xs-11"><h6>Blocking all cookies will have a negative impact upon the usability of many websites.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>11.9</strong></h5></div>
        <div class="col-xs-11"><h6>You can delete cookies already stored on your computer; for example:</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(a)</div>
        <div class="col-xs-10"><h6>in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at http://support.microsoft.com/kb/278835);</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(b)</div>
        <div class="col-xs-10"><h6>in Firefox (version 24), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history", clicking "Show Cookies", and then clicking "Remove All Cookies"; and</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-offset-1 col-md-1">(c)</div>
        <div class="col-xs-10"><h6>in Chrome (version 29), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Delete cookies and other site and plug-in data" before clicking "Clear browsing data".</h6></div>

    </div>

</div>

<div>

    <div class="row">

        <div class="col-xs-12"><h4>12.  Our details</h4></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>12.1</strong></div>
        <div class="col-xs-11"><h6>This website is owned and operated by D4 Software Ltd.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><h5><strong>12.2</strong></h5></div>
        <div class="col-xs-11"><h6>We are registered in England and Wales under registration number 8065648, and our registered office is at D4 Software, Faraday Wharf, Holt Street, Birmingham, B7 4BB, UK.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>12.3</strong></div>
        <div class="col-xs-11"><h6>Our principal place of business is at D4 Software Ltd, Quayside Tower, 252 - 260 Broad Street, Birmingham, B1 2HF, United Kingdom.</h6></div>

    </div>

    <div class="row">

        <div class="col-xs-1"><strong>12.4</strong></div>
        <div class="col-xs-11"><h6>You can contact us by writing to the business address given above, by using our website contact form, by email to info@d4software.co.uk or by telephone on +44 (0) 121 250 5786.</h6></div>

    </div>


</div>