#qt-container {
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
}

div#resize_bar {
  height: 8px;
  width: 100%;
  border-top: solid 1px #eeeeee;
  background-color: #aaaaaa;
  border-bottom: solid 1px #888888; 
  cursor: row-resize;
} 

div.bottomPanelResizer {
  width: 100%;
  opacity: 0.3;
  height: 8px;
  background-color: #111;
  cursor: row-resize;
}

div#bottom_panel {
  height: 50%;
  position: relative;
  min-width: 100%;
  background: #ffffff;

  div#bottom_left_panel {
    float: left;
    width: 100%;
    display: none;

    div#results_container {
      overflow: auto;
      margin-right: 159px;

      div#nonTabularResultsContainer {

        div.chart {
          width: 90%;
          height: 90%;
          margin: 15px 15px 15px 15px;
        }

        div.dataTable {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  ul#result_options {
    overflow: hidden;
    float: left;
    width: 159px;
    margin-left: -160px;
    background: #eeeeee;
    border-left: solid 1px #aaaaaa;
    padding-left: 0;

    li {
      margin: 6px 8px 6px 8px;
      list-style: none;
      
      a.wide {
        width: 139px;
      }

      a.small {
        width: 30px;

        span {
          padding: .4em 0;
        }
      }
    }
  }
}

.status_text {
  font-size: 1.2em;
  color: #888888;
  text-align: center;
  position: relative;
  top: 48%;

  a {
    color: #888888;
  }
}

div.modal {
  display: none;
  overflow-y: auto;

  .toolHelpLink {
    margin-top: 10px;
  }
  
  a.rowAction {
    display: block;
    float: left;
    width: 41px;
    line-height: 18px;
    padding-left: 4px;
  }
  a.button {
    display: inline-block;
    text-align: center;
    background: #5c8ab7;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  p {
    display: inline-block;
  }

  div.modal-body {

    .leftSettingsColumn {
      width: 48%;
      float: left;
    }

    .rightSettingsColumn {
      width: 48%;
      float: right;
    }

    ul {
      background: #fff;
      width: 99%;
      height: 100px;
      border: 1px solid #aaa;
      border-radius: 5px;
      overflow-y: auto;
      padding: 5px;

      li {
        font-size: 1.05em;
        cursor: move;
        padding: 4px;

        button {
          font-size: 0.7em;
        }
      }
    }
  }
}

ul.rich_item_list {
  background: #fff;
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin-bottom: -2px;
  border: 1px solid #aaa;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    color: #666;
    min-height: 20px;
    line-height: 20px;
    width: 100%;
    padding: 3px 3px 3px 3px;
    font-size: 1.05em;
  }

  li:hover {
    cursor: pointer;
  }
}

.tickLabel {
  overflow: hidden;
}

li.blockItem {
  color: #fff;
  font-weight: bold;
  display: block;
  border-radius: 8px;
  background-color: #5c8ab7;
  overflow: hidden;
  margin: 3px;
  vertical-align: middle;
}

li.blockItem > .blockItemText {
  margin: 1px -32px 1px 1px;
  width: 100%;
  display: inline-block;
}

li.blockItem > .blockItemEditable {
  cursor: text;
}

li.blockItem > .blockItemEdit {
  margin-right: -30px;
  width: 97%;
  display: inline-block;
  float: left; 
  color: #000; 
}

li.blockItem > .blockItemRemoveButton {
  float: right;
  color: #000;
  height: 18px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

li.blockItem > .blockItemRemoveButton:hover {
  margin-top: 0;
  border-bottom-width: 0px;
}

#results_container table {
  margin: 0px;
  padding: 0px;
}

#results_container tr:last-child td:last-child {
}

#results_container table tr:first-child td:first-child {
}

#results_container table tr:first-child td:last-child {
}

#results_container tr:last-child td:first-child {
}

#results_container tr:hover td {
}

#results_container tr:nth-child(odd) {
  background-color: #d4d4d4;
}

#results_container tr:nth-child(even) {
  background-color: #e9e9e9;
}

#results_container td {
  vertical-align: middle;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-size: 0.95em;
  font-family: Arial;
  font-weight: normal;
  color: #323232;
}

#results_container tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

#results_container tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

#results_container tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}

#results_container thead tr th {
  background-color: #004358;
  border: 0px solid #ffffff;
  text-align: left;
  padding: 7px;
  border-width: 0px 0px 1px 1px;
  font-size: 1em;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

#file_chooser, #export_file_chooser {
  display: none
}

#dropTarget {
  background-color: black;
  opacity: 0.35;
  border-radius: 8px;
  display: none;
  position: absolute;
  width: 50px;
  height: 48px;
  z-index: 1;
  text-align: center;
  padding-top: 4px;
  margin: 0;
}

#queryDialog textarea {
  width: 100%;
  height: 100%;
}

button.removeButton {
  position:absolute;
  left:8px;
}

.move-left {
  width: auto;
  box-shadow: none;
}
