<div class="col-md-6 hidden-sm hidden-xs qt-description-container">
    <div class="well" data-spy="affix" data-offset-top="82" data-offset-bottom="15">
        <div id="nameDescription" class="qt-description-content hidden-sm hidden-xs">
            <h4>Name</h4>
            <p>A display name for this database connection, this is only used to identify this database within this app. It can be anything you like.</p>
        </div>
        <div id="descriptionDescription" class="qt-description-content" style="display: none;">
            <h4>Description</h4>
            <p>A description for this database connection, this is only used within this app to explain what this database is. It can be anything you like.</p>
        </div>
        <div id="typeDescription" class="qt-description-content" style="display: none;">
            <h4>Type</h4>
            <p>The type of database we are connecting to. This app can connect to any Microsoft SQL Server, MySQL or PostgreSQL database.</p>
        </div>
        <div id="serverDescription" class="qt-description-content" style="display: none;">
            <h4>Server</h4>
            <p>The domain name or IP address of the server where this database is hosted. For example, it might be dbserver.acmecorp.com, or dbserver.local, or 192.168.50.12.</p>
			<p>The server running this app must have network access to this server, otherwise the connection will not work.</p>
        </div>
        <div id="portDescription" class="qt-description-content" style="display: none;">
            <h4>Port Number</h4>
            <p>The network port on the server that we can connect to the database on.</p>
            <ul>
                <li>For Microoft SQL Server this is usually 1433.</li>
                <li>For MySQL this is usually 3306.</li>
                <li>For PostgreSQL this is usually 5432.</li>
            </ul>
        </div>
        <div id="useSshDescription" class="qt-description-content" style="display: none;">
            <h4>Use SSH</h4>
            <p>Would you like to connect to the server via the SSH protocol? If so please check this box.</p>
        </div>
        <div id="sshPortDescription" class="qt-description-content" style="display: none;">
            <h4>SSH Port</h4>
            <p>The network port number that server uses for SSH connections.</p>
            <p>This is usually 22.</p>
        </div>
        <div id="sshUsernameDescription" class="qt-description-content" style="display: none;">
            <h4>SSH Username</h4>
            <p>The username used when logging into the server via SSH.</p>
        </div>
        <div id="sshPasswordDescription" class="qt-description-content" style="display: none;">
            <h4>SSH Password</h4>
            <p>The password used when logging into the server via SSH.</p>
        </div>
        <div id="useSshKeyDescription" class="qt-description-content" style="display: none;">
            <h4>Use SSH Key File</h4>
            <p>As an alternative to using a password, the SSH protocol allows you to upload a key file. If you would like to use a key file to connect via SSH, please check this box.</p>
        </div>
        <div id="sshKeyDescription" class="qt-description-content" style="display: none;">
            <h4>SSH Key</h4>
            <p>The key file used to authenticate the SSH user.</p>
        </div>
        <div id="usernameDescription" class="qt-description-content" style="display: none;">
            <h4>Database Username</h4>
            <p>Having connected to the server, what username should be used to sign into the database.</p>
        </div>
        <div id="passwordDescription" class="qt-description-content" style="display: none;">
            <h4>Database Password</h4>
            <p>Having connected to the server, what password should be used to sign into the database.</p>
        </div>
        <div id="databaseDescription" class="qt-description-content" style="display: none;">
            <h4>Database Name/Schema</h4>
            <p>Having connected to the server, what is the name of the database or schema on the server, that this app should connect to.</p>
        </div>
    </div>
</div>

