<div class="well">
    <p><strong>Admins</strong> can edit and delete database connections, and control which users have access. They can also do anything a Report Builder or Report Viewer can do.</p>
    <p><strong>Report Builders</strong> can edit, create, and delete reports on this database connection. They can also do anything a Report Viewer can do.</p>
    <p><strong>Report Viewers</strong> can only run reports and export the results.</p>
</div>
