@{
    var version = System.Reflection.Assembly.GetEntryAssembly().GetName().Version;
}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Powered By <a href="http://querytreeapp.com"><img class="logo" src="~/images/querytree.png"/> QueryTree v<span>@Html.Raw(version)</span></a></p>
                <p>&copy; 2012-<script>document.write(new Date().getFullYear())</script> <a href="http://weared4.com">D4 Software Ltd</a>, <a href="https://github.com/d4software/QueryTree/graphs/contributors">et al</a> &mdash; <a href="https://github.com/d4software/QueryTree">Source</a> available under <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">LGPLv3</a> license.</p>
            </div>
        </div>
    </div>
</footer>
