<div  id="qt-container">
    <div id="binding-root" style="display: none;" data-bind="visible: true">
        <div id="top_panel" data-bind="visible: ResultsOnly() === false">
            <div id="data_tools" class="toolbar">
                <ul class="icon_list" data-bind="foreach: Tools">
                    <!-- ko if: $data.Visible-->
                    <li data-bind="attr: { title: Description }, draggable_tool: $data">
                        <canvas width="32" height="32" data-bind="canvas_symbol: $data"></canvas>
                        <span data-bind="text: Title"></span>
                    </li>
                    <!--/ko-->
                </ul>
                <div id="dropTarget"></div>
            </div>
            <div id="workspace" data-bind="droppable_area: $data, draw_nodes: current_nodes">
                <canvas id="workspace_canvas"></canvas>
            </div>
        </div>
        <div data-bind="visible: ResultsOnly() && ResultsOnlyLoaded() && ObjectSelected() == false" style="display: none;">
            <p>No Tool Selected, please edit this report and ensure a tool is selected.</p>
        </div>
        <div id="bottom_panel">
            <div id="resize_bar" data-bind="visible: ResultsOnly() === false"></div>
            <div id="bottom_left_panel">
                <div id="results_container" class="flexibleHeight" data-bind="visible: ObjectSelected, style: { 'margin-right': ResultsOnly() ? '0' : '155px' }">
                    <div id="nonTabularResultsContainer" class="flexibleHeight" data-bind="visible: SelectedNodeHasRenderAndNotError, render_results: SelectedNode">
                    </div>
                    <div id="node_status_panel" class="status_text" data-bind="visible: SelectedNodeHasError">
                        <span data-bind="visible: SelectedNodeStatus() == 'not_ready'">Connecting to your database</span>
                        <br data-bind="visible: SelectedNodeStatus() == 'not_ready'" />
                        <img src="~/images/loading.gif" data-bind="visible: SelectedNodeStatus() == 'not_ready'" />
                        <span data-bind="visible: SelectedNodeStatus() == 'not_configured'">This tool is not set up yet, please click options to edit its settings</span>
                        <span data-bind="visible: SelectedNodeStatus() == 'no_data'">No data was returned</span>
                        <span data-bind="visible: SelectedNodeStatus() == 'error', html: SelectedNodeErrorText()"></span>
                    </div>
                    <table id="results" data-bind="visible: IsDataVisible">
                        <thead>
                            <tr>
                                <!-- ko foreach: CurrentDataColumns() -->
                                <th data-bind="text: $data"></th>
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CurrentData">
                            <tr>
                                <!-- ko foreach: $data -->
                                <td data-bind="text: $root.FormatColumn($index(), $data)"></td>
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="no_selected_node_panel" class="status_text flexibleHeight" data-bind="visible: ResultsOnly() == false && ObjectSelected() == false" style="display: none;">
                <p>No Tool Selected, click on a tool to see its data and options.</p>
            </div>
            <ul id="result_options" class="flexibleHeight" data-bind="visible: ObjectSelected && ResultsOnly() === false">
                <li><a id="showConfig" class="btn btn-primary btn-block" data-bind="visible: ShowOptions && ResultsOnly() === false">Options</a></li>
                <li><a id="export" target="_blank" download="export.csv" class="btn btn-success btn-block" data-bind="visible: ShowExport, click: Export, attr: { href: ExportUrl, download: ExportFileName }">Export</a></li>
                <li class="pager" data-bind="visible: IsDataVisible">
                    Rows <span data-bind="text: CurrentRowStartFormatted"></span> to <span data-bind="text: CurrentRowEndFormatted"></span> of <span data-bind="text: CurrentRowsTotalFormatted"></span>
                </li>
                <li data-bind="visible: IsDataVisible">
                    <a id="PagerStart" class="btn btn-sm btn-default" data-bind="visible: IsPreviousVisible">&lt;&lt;</a>
                    <a id="PagerPrev" class="btn btn-sm btn-default" data-bind="visible: IsPreviousVisible">&lt;</a>
                    <a id="PagerNext" class="btn btn-sm btn-default" data-bind="visible: IsNextVisible">&gt;</a>
                    <a id="PagerEnd" class="btn btn-sm btn-default" data-bind="visible: IsNextVisible">&gt;&gt;</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="node_options_container"></div>
</div>