<form>
    <label for="Name">Name</label>
    <input type="text" name="Name" data-bind="value: Name" />
    <label for="Table">Table</label>
    <select name="Table" data-bind="options: Tables, value: Table, visible: TablesLoading() === false && Tables().length > 0">
    </select>
    <p data-bind="visible: TablesLoading() === false && Tables().length == 0">No tables found</p>
    <img src="https://querytree.blob.core.windows.net/img/loading-dark.gif" data-bind="visible: TablesLoading "/>
    <a class="refreshData">Refresh Tables</a>
</form>
