<form class="form-horizontal">
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" type="text" name="Name" data-bind="value: Name"/>
    </div>
    <div class="form-group">
        <label for="HorizontalAxis">Label</label>
        <select class="form-control" name="HorizontalAxis" data-bind="options: AllInputColumns, value: HorizontalAxis"></select>
    </div>
    <div class="form-group">
        <label for="VerticalAxis">Value</label>
        <select class="form-control" name="VerticalAxis" data-bind="options: AllNumericInputColumnInfos, optionsText: 'Name', optionsValue: 'Index', value: VerticalAxis"></select>
    </div>
    <div class="form-group">
        <label for="LabelType">Label Type</label>
        <select class="form-control" name="LabelType" data-bind="options: LabelTypes, value: LabelType"></select>
    </div>
</form>
