<form>
    <label for="Name">Name</label>
    <input type="text" name="Name" data-bind="value: Name"/>

    <!--ko foreach: SortColumns -->
    <!--ko if: $index() == 0-->
    <label for="Column">Sort By</label>
    <!--/ko-->
    <!--ko if: $index() > 0-->
    <label for="SplitBy">Then By</label>
    <!--/ko-->    
    <select name="Column" data-bind="options: $parent.AllInputColumns, value: $data.SortColumn" style="width:100px;"></select>
    <!--ko if: $index() > 0-->
    <a href="#" class="rowAction" data-bind="click: $parent.RemoveSort">remove</a>
    <!--/ko-->
    <label for="Descending">Descending</label>
    <input type="Checkbox" name="Descending" data-bind="checked: $data.Descending"/>
    <!--/ko-->
    <a href="#" class="rowAction onOwnRow" data-bind="click: AddSort">Add</a>
</form>
