<form class="form-horizontal">
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" type="text" name="Name" data-bind="value: Name"/>
    </div>
    <!--ko foreach: SortColumns -->
    <div class="form-group">
        <!--ko if: $index() == 0-->
        <label for="Column">Sort By</label>
        <!--/ko-->
        <!--ko if: $index() > 0-->
        <label for="SplitBy">Then By</label>
        <!--/ko-->    
        <select class="form-control" name="Column" data-bind="options: $parent.AllInputColumns, value: $data.SortColumn" style="width:100px;"></select>
        <!--ko if: $index() > 0-->
        <a href="#" class="rowAction" data-bind="click: $parent.RemoveSort">remove</a>
        <!--/ko-->
        <label for="Descending">Descending</label>
        <input class="form-control" type="Checkbox" name="Descending" data-bind="checked: $data.Descending"/>
    </div>
    <!--/ko-->
    <a href="#" class="rowAction onOwnRow" data-bind="click: AddSort">Add</a>
</form>
