<form>
    <label for="Name">Name</label>
    <input type="text" name="Name" data-bind="value: Name"/>
    <label for="Count">Count</label>
    <input type="Checkbox" name="Count" data-bind="checked: ShowCount"/>
    <label for="CountUnique">Count Unique</label>
    <input type="Checkbox" name="CountUnique" data-bind="checked: ShowCountUnique"/>
    <label for="Sum">Sum</label>
    <input type="Checkbox" name="Sum" data-bind="checked: ShowSum"/>
    <label for="Avg">Average</label>
    <input type="Checkbox" name="Avg" data-bind="checked: ShowAvg"/>
    <label for="Min">Minimum</label>
    <input type="Checkbox" name="Min" data-bind="checked: ShowMin"/>
    <label for="Max">Maximum</label>
    <input type="Checkbox" name="Max" data-bind="checked: ShowMax"/>
</form>
