<form>
    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" data-bind="value: Name" />
        <!--ko foreach: Statistics-->
        <label>Calculate the</label>
        <select name="AggFunction" data-bind="options: $parent.Tool.AggFunctions, optionsText: 'text', optionsValue: 'id', value: AggFunction" style="width:135px;"></select>
        <!--ko if: AggFunction() == 1-->
        <label style="clear: none; width: 135px; text-align: left;"> of results</label>
        <!--/ko-->
        <!--ko if: AggFunction() != 1-->
        <label for="AggColumn">Of column</label>
        <select name="AggColumn" data-bind="options: $parent.AggColumns, optionsText: 'Name', optionsValue: 'Index', value: AggColumn" style="width:135px;"></select>
        <!--/ko-->
        <!--ko if: $parent.Statistics().length > 1-->
        <a href="#" class="rowAction" data-bind="click: $parent.RemoveStatistic">remove</a>
        <!--/ko-->
        <!--/ko-->
        <a href="#" class="rowAction onOwnRow" data-bind="click: AddStatistic">add</a>
        <!--ko if: GroupByColumns().length == 0-->
        <a class="textButton" href="#" data-bind="click: AddGroupBy">Breakdown Statistics</a>
        <!--/ko-->
        <!--ko if: GroupByColumns().length > 0-->
        <!--ko foreach: GroupByColumns-->
        <!--ko if: $index() == 0-->
        <label for="SplitBy">Breakdown by</label>
        <!--/ko-->
        <!--ko if: $index() > 0-->
        <label for="SplitBy">Then by</label>
        <!--/ko-->
        <select name="SplitBy" data-bind="options: $parent.GroupColumns, optionsText: 'Name', optionsValue: 'Index', value: index, style: { width: $parent.GroupByFunctions(index()).length > 0 ? '100px' : '154px' } "></select>
        <!--ko if: $parent.GroupByFunctions(index()).length > 0-->
        <select name="DateFunction" data-bind="options: $parent.GroupByFunctions(index()), optionsText: 'text', optionsValue: 'id', value: groupByFunction" style="width:50px; margin-left:4px;"></select>
        <!--/ko-->
        <a href="#" class="rowAction" data-bind="click: $parent.RemoveGroupBy">remove</a>
        <!--/ko-->
        <a href="#" class="rowAction onOwnRow" data-bind="click: AddGroupBy">add</a>
        <!--/ko-->
    </div>
</form>
