<form>
    <label for="Name">Name</label>
    <input type="text" name="Name" data-bind="value: Name"/>
    <h3>Select columns to group by</h3>
    <span class="helpText">
        Drag one or more columns into the list on the right to group rows from the source
        table by those values.
    </span>
    <div class="leftSettingsColumn expandingHeight">
        <ul class="connectedColumnList expandingHeight" data-bind="foreach: AllInputColumnInfos">
            <li class="availableColumn blockItem" data-bind="attr: { 'data-bind-col-index': Index }, draggable_column: $data"> <span data-bind="text: Name"></span></li>
        </ul>
        <button class="fullWidth" data-bind="click: AddAll" style="float:right">add all</button>
    </div>
    <div class="rightSettingsColumn expandingHeight">
        <ul class="connectedColumnList expandingHeight" data-bind="foreach: GroupByColumnIndexes, sortable_column_list: { data: GroupByColumnIndexes }">
            <li class="selectedColumn blockItem" data-bind="attr: { 'data-bind-col-index': $data }">
                <span class="selectedColumn blockItemText" data-bind="text: $parent.GetColumnName($data)"></span>
                <button class="blockItemRemoveButton" data-bind="click: $parent.RemoveItem">x</button>
            </li>
        </ul>
        <button class="fullWidth"  data-bind="click: RemoveAll">remove all</button>
    </div>
    <h3>For each group</h3>
    <label for="AggFunction">Calculate the</label>
    <select name="AggFunction" data-bind="options: Tool.AggFunctions, optionsText: 'text', optionsValue: 'id', value: AggFunction"></select>
    <label for="AggColumn">Of Column</label>
    <select name="AggColumn" data-bind="options: AggColumns, optionsText: 'Name', optionsValue: 'Index', value: AggColumn"></select>
</form>
