<form>
    <label for="Name">Name</label>
    <input type="text" name="Name" data-bind="value: Name"/>
    <label for="Url">URL</label>
    <input type="text" name="Name" data-bind="value: Url"/>
    <label for="Column">Data Type</label>
    <select name="Column" data-bind="options: Tool.DataTypes, optionsText: 'text', optionsValue: 'id', value: DataType"></select>
    <div data-bind="visible: DataType() == 3">
        <label for="HasHeader">Has Column Headers</label>
        <input type="checkbox" name="HasHeaders" data-bind="checked: FileHasHeaders" />
    </div>
    <label for="Column">Fetch Data</label>
    <fieldset>
        <input type="radio" name="fetch_frequency" value="1" data-bind="checked: FetchFrequency"/>Once<br/>
        <input type="radio" name="fetch_frequency" value="2" data-bind="checked: FetchFrequency"/>Every 10 minutes<br/>
        <input type="radio" name="fetch_frequency" value="3" data-bind="checked: FetchFrequency"/>Every 30 minutes<br/>
        <input type="radio" name="fetch_frequency" value="4" data-bind="checked: FetchFrequency"/>Every hour<br/>
        <input type="radio" name="fetch_frequency" value="5" data-bind="checked: FetchFrequency"/>Every 4 hours<br/>
        <input type="radio" name="fetch_frequency" value="6" data-bind="checked: FetchFrequency"/>Every 12 hours<br/>
        <input type="radio" name="fetch_frequency" value="7" data-bind="checked: FetchFrequency"/>Every 24 hours<br/>
    </fieldset>
</form>
